<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>

    <div class="cards">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col>
            <div id="card">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Reyno Alfarez M.</ion-card-title>
                  <ion-card-subtitle>H1D022111</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content> 🚀🚀🚀 </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div id="card">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Reyno Alfarez M.</ion-card-title>
                  <ion-card-subtitle>H1D022111</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content> 🚀🚀🚀 </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
          <ion-col
            ><div id="card">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Reyno Alfarez M.</ion-card-title>
                  <ion-card-subtitle>H1D022111</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content> 🚀🚀🚀 </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
